.body {
    user-select: none;
}
/* Buttons */
.btn {
    padding: var(--spacing-sm) var(--spacing-md);
    border-radius: var(--radius-md);
    font-size: 14px;
    font-weight: 600;
    transition: all var(--transition-fast);
    display: inline-flex;
    align-items: center;
    gap: var(--spacing-sm);
    cursor: pointer;
}

.btn:hover {
    transform: scale(1.04);
}

.btn:active {
    transform: scale(0.96);
}


/* Library items */
.library-item {
    display: flex;
    align-items: center;
    gap: var(--spacing-md);
    padding: var(--spacing-sm);
    border-radius: var(--radius-sm);
    cursor: pointer;
    transition: all var(--transition-fast);
}

.library-item:hover {
    background-color: var(--bg-tertiary);
}

.library-item.active {
    background-color: var(--bg-hover);
}

.item-image {
    width: 48px;
    height: 48px;
    border-radius: var(--radius-sm);
    object-fit: cover;
}

.item-icon {
    width: 48px;
    height: 48px;
    border-radius: var(--radius-sm);
    display: flex;
    align-items: center;
    justify-content: center;
}

.liked-songs {
    background: linear-gradient(135deg, #450af5, #c4efd9);
}

.liked-songs i {
    font-size: 24px;
    color: var(--text-primary);
}

.item-info {
    flex: 1;
    min-width: 0;
}
.item-subtitle i {
    position: relative;
    top: 1px;
    font-size: 10px;
    color: var(--accent-primary);
}


