<!-- Tracks of Playlist -->
<section data-compact="false" class="playlist-tracks-section">
  <div class="tracks-pseudo-el"></div>
  <div class="track-grid playlist-tracks-header">
    <div class="tracks-header-item"><span>#</span></div>
    <div class="tracks-header-item"><span>Title</span></div>
    <div class="tracks-header-item"><span>Album</span></div>
    <div class="tracks-header-item"><span>Date Added</span></div>
    <div class="tracks-header-item">
      <span><i class="fa-solid fa-clock"></i></span>
    </div>
    <div class="last-column right-controls">
      <i class="fa-solid fa-caret-down menu-icon controls-menu-btn"></i>
      <ul class="controls-menu lg-menu space-between-menu">
        <li class="controls-menu-title">Columns</li>
        <li class="controls-menu-item" data-choosed="true">
          Album
          <i class="fa-solid fa-check"></i>
        </li>
        <li class="controls-menu-item" data-choosed="true">
          Date Added
          <i class="fa-solid fa-check"></i>
        </li>
        <li class="controls-menu-item" data-choosed="true">
          Duration
          <i class="fa-solid fa-check"></i>
        </li>
      </ul>
    </div>
  </div>
  <div class="track-grid track-row" data-playing="true">
    <div class="track-status">
      <span>1</span>
      <i class="fa-solid fa-play"></i>
    </div>
    <div class="track-title">
      <img
        class="track-img"
        src="https://spotify.f8team.dev/uploads/images/img_1846084f-941e-4c50-b55e-58c223745349.jpg"
        alt=""
      />
      <div class="track-info">
        <a class="track-name">Hẹn một mai</a>
        <div class="track-artists">
          <a class="track-artist">Bùi Anh Tuấn</a>
          <span>,</span>
          <a class="track-artist">Midu</a>
        </div>
      </div>
    </div>
    <a class="track-album">4 năm, 2 chàng trai, 1 tình yêu</a>
    <div class="track-date-added">05/10/2002</div>
    <div class="track-duration"><span class="track-duration">03:20</span></div>
    <div class="last-column right-controls">
      <i class="fa-solid fa-ellipsis menu-icon controls-menu-btn"></i>
      <ul class="controls-menu lg-menu">
        <li class="controls-menu-item">Remove from this playlist</li>
        <li class="controls-menu-item">Save to your Liked songs</li>
      </ul>
    </div>
  </div>
</section>
