<link rel="stylesheet" href="components/pages/home/home.css">

<section class="home-header"></section>
<section class="home-suggest-artists">
    <h2 class="home-suggest-title">Suggest Artists For You</h2>
    <spotify-slider id="home-suggest-artists">
    </spotify-slider>
</section>
<section class="home-popular-albums">
    <h2 class="home-suggest-title">Popular Albums</h2>
    <spotify-slider id="home-popular-albums">
    </spotify-slider>
</section>
<section class="home-popular-tracks">
    <h2 class="home-suggest-title">Popular Tracks</h2>
    <spotify-slider id="home-popular-tracks">
    </spotify-slider>
</section>
<section class="home-trending-tracks">
    <h2 class="home-suggest-title">Trending Tracks</h2>
    <spotify-slider id="home-trending-tracks">
    </spotify-slider>
</section>