<h1 class="modal-heading">Sign up to start listening</h1>

<form class="auth-form-content">
  <div class="form-group invalid">
    <input
      type="email"
      name="email"
      placeholder="Email address"
      class="form-input"
      id="signupEmail"
      data-type="email"
      data-required="true"
    />
    <div class="error-message">
      <i class="fas fa-info-circle"></i>
      <span>Please enter a valid email address</span>
    </div>
  </div>

  <div class="form-group">
    <input
      type="password"
      name="password"
      placeholder="Password"
      class="form-input"
      id="signupPassword"
      data-type="password"
      data-minLength="8"
      data-required="true"
    />
    <div class="error-message">
      <i class="fas fa-info-circle"></i>
      <span>Password must be at least 8 characters</span>
    </div>
  </div>

  <button type="submit" class="auth-submit-btn">Sign Up</button>
</form>

<div class="auth-switch">
  <span>Already have an account? </span>
  <button class="auth-link" id="showLogin">Log in here</button>
</div>
